body {
    font-family: Arial, sans-serif;
    background-color: #fafcfd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.result-con{
    display:flex;
   align-items: center;

}
.container {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:300px;
    height:350px;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    margin: 10px 0;
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
a:hover {
    background-color: #2980b9;
}